<div class="container-fluid text-center">
    <div class="container">
        <h4 class="title">CONTACT</h4>
        <div class="linkk">
            <ul>
                <li class="nav-item">
                    <a class="nav-link kkk" routerLink="" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home </a>
                </li>
                <li class="slash"> // </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ------------ -->
<div class="container-fluid-1">
    <div class="container">
        <div class="map">
            <iframe src="https://maps.google.com/maps?q=30.245542, 31.476775&z=15&output=embed" width="100%"
                height="490px" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="all">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h5>ADDRESS</h5>
                    <p>503 Old Buffalo Street
                        <br>
                        Northwest #205, New York-3087</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="all">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h5>ADDRESS</h5>
                    <p>503 Old Buffalo Street
                        <br>
                        Northwest #205, New York-3087</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="all">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <h5>ADDRESS</h5>
                    <p>503 Old Buffalo Street
                        <br>
                        Northwest #205, New York-3087</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------------ -->
<div class="container-fluid-2">
    <div class="container">
        <h4>LEAVE COMMENT</h4>
        <form #registerationForm="ngForm" (submit)="onSubmit(registerationForm)">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [class.error-form]="name.invalid && name.touched">
                        <label for="name">Your name *</label>
                        <input type="text" id="name" placeholder="Please leave your name" class="form-control"
                            name="username" ngModel #name="ngModel" required minlength="3">
                        <div *ngIf="name.errors && name.invalid && name.touched" class="text-danger">
                            <small *ngIf="name.errors.required">Your name is required</small>
                            <small *ngIf="name.errors.minlength">Mimun length is 3 characters</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" [class.error-form]="email.invalid && email.touched">
                        <label for="email">Your email *</label>
                        <input type="email" id="email" placeholder="Please leave your email" class="form-control"
                            name="email" ngModel #email="ngModel" required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                        <div *ngIf="email.errors && email.invalid && email.touched" class="text-danger">
                            <small *ngIf="email.errors.required">Your email is required</small>
                            <small *ngIf="email.errors.pattern">Please write a valid email</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative" [class.error-form]="password.invalid && password.touched">
                        <label for="password">Your password *</label>
                        <input type="password" id="password" placeholder="Please leave your password"
                            class="form-control" name="password" ngModel #password="ngModel" required
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        <div *ngIf="password.errors && password.invalid && password.touched" class="text-danger">
                            <small *ngIf="password.errors.required">Your password is required</small>
                            <small *ngIf="password.errors.pattern">Must contain at least one number and one uppercase
                                and lowercase
                                letter, and at least 8 or more characters</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" [class.error-form]="telee.invalid && telee.touched">
                        <label for="telee">Your Phone Number *</label>
                        <input type="tel" id="telee" placeholder="Please Write your Number Phone" class="form-control"
                            name="tele" ngModel #telee="ngModel" required pattern="[789][0-9]{9}">
                        <div *ngIf="telee.errors && telee.invalid && telee.touched" class="text-danger">
                            <small *ngIf="telee.errors.required">Your Number Phone is required</small>
                            <small *ngIf="telee.errors.pattern">Must Write A Correct Number Phone</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" [class.error-form]="message.invalid && message.touched">
                <label for="message"> Message *</label>
                <textarea ngModel placeholder="Write Your Message" name="message" ngModel #message="ngModel" cols="40"
                    rows="10" id="message" name="message" class="textarea form-control"></textarea>
                    <div *ngIf="message.errors && message.invalid && message.touched" class="text-danger">
                        <small *ngIf="message.errors.required">Your Message is required If You Want To Send Message</small>
                    </div>
            </div>
            <div class="form-group">
                <button class="hj" mat-flat-button color="primary" [disabled]="registerationForm.invalid">SUBMIT
                    NOW</button>
            </div>
        </form>
    </div>
</div>
<!-- ------------- -->
<div class="container-fluid-4">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let item of items">
                <div class="call">
                    <img [src]="item.img">
                </div> 
            </ng-template>
        </owl-carousel-o>
    </div>
</div>