<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header">
                    <h2>OUR HISTORY</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe derit in voluptate velit esse
                    cillum.
                    </p>
                    <p>
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot fore see
                    the pain and trouble that are bound to belongs to who fail in their duty.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/about/a3.jpg" >
            </div>
            <div class="col-md-3">
                <img src="assets/about/a4.jpg" >
            </div>
        </div>
    </div>
</div>
<!-- ------- -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/about/a5.jpg" >
                <!-- play -->
                <div class="btnetyout">
                    <a href="https://www.youtube.com/watch?v=DCdxsnRF1Fk" data-toggle="modal" data-target="#exampleModal">
                        <div class="owner">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                class="svg-inline--fa fa-play fa-w-14 fa-2x">
                                <path fill="currentColor"
                                    d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"
                                    class=""></path>
                            </svg></div>
                    </a>
                </div>
                <!-- for play -->
                <div class="modal fade" id="exampleModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <iframe width="900" height="506" src="https://www.youtube.com/embed/YLN1Argi7ik" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
        
                            <button type="button" class="btn kk btn-default" data-dismiss="modal">x</button>
        
                        </div>
                    </div>
                </div>
                <!-- --- -->
            </div>
            <div class="col-md-6">
                <div class="header">
                    <h2>OUR HISTORY</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe derit in voluptate velit esse
                    cillum.
                    </p>
                    <p>
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot fore see
                    the pain and trouble that are bound to belongs to who fail in their duty.</p>
            </div>
        </div>
    </div>
</div>