<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <div class="title">
                        Choose Eshkool
                    </div>
                    <div class="body">
                        <h2 class="banner-title"><span>For Your. <br></span> University.</h2>
                    </div>
                    <div class="btn">
                        <button mat-button type="button">
                            Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ----- -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="full">
                            <img class="card-img-top" src="assets/photos/2.jpg" alt="Card image cap">
                        </div>
                        <div class="full-con">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                class="svg-inline--fa fa-book-reader fa-w-16 fa-2x">
                                <path fill="currentColor"
                                    d="M352 96c0-53.02-42.98-96-96-96s-96 42.98-96 96 42.98 96 96 96 96-42.98 96-96zM233.59 241.1c-59.33-36.32-155.43-46.3-203.79-49.05C13.55 191.13 0 203.51 0 219.14v222.8c0 14.33 11.59 26.28 26.49 27.05 43.66 2.29 131.99 10.68 193.04 41.43 9.37 4.72 20.48-1.71 20.48-11.87V252.56c-.01-4.67-2.32-8.95-6.42-11.46zm248.61-49.05c-48.35 2.74-144.46 12.73-203.78 49.05-4.1 2.51-6.41 6.96-6.41 11.63v245.79c0 10.19 11.14 16.63 20.54 11.9 61.04-30.72 149.32-39.11 192.97-41.4 14.9-.78 26.49-12.73 26.49-27.06V219.14c-.01-15.63-13.56-28.01-29.81-27.09z">
                                </path>
                            </svg>
                            <h4>
                                <a href="#">
                                    Trending Courses
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="full">
                            <img class="card-img-top" src="assets/photos/3.jpg" alt="Card image cap">
                        </div>
                        <div class="full-con">
                            <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="book" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                class="svg-inline--fa fa-book fa-w-14 fa-2x">
                                <path fill="currentColor"
                                    d="M356 160H188c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12zm12 52v-8c0-6.6-5.4-12-12-12H188c-6.6 0-12 5.4-12 12v8c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12zm64.7 268h3.3c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H80c-44.2 0-80-35.8-80-80V80C0 35.8 35.8 0 80 0h344c13.3 0 24 10.7 24 24v368c0 10-6.2 18.6-14.9 22.2-3.6 16.1-4.4 45.6-.4 65.8zM128 384h288V32H128v352zm-96 16c13.4-10 30-16 48-16h16V32H80c-26.5 0-48 21.5-48 48v320zm372.3 80c-3.1-20.4-2.9-45.2 0-64H80c-64 0-64 64 0 64h324.3z"
                                    class=""></path>
                            </svg>
                            <h4>
                                <a href="#">
                                    Books & Liberary
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="full">
                            <img class="card-img-top" src="assets/photos/4.jpg" alt="Card image cap">
                        </div>
                        <div class="full-con">
                            <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="book" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                class="svg-inline--fa fa-book fa-w-14 fa-2x">
                                <path fill="currentColor"
                                    d="M356 160H188c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12zm12 52v-8c0-6.6-5.4-12-12-12H188c-6.6 0-12 5.4-12 12v8c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12zm64.7 268h3.3c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H80c-44.2 0-80-35.8-80-80V80C0 35.8 35.8 0 80 0h344c13.3 0 24 10.7 24 24v368c0 10-6.2 18.6-14.9 22.2-3.6 16.1-4.4 45.6-.4 65.8zM128 384h288V32H128v352zm-96 16c13.4-10 30-16 48-16h16V32H80c-26.5 0-48 21.5-48 48v320zm372.3 80c-3.1-20.4-2.9-45.2 0-64H80c-64 0-64 64 0 64h324.3z"
                                    class=""></path>
                            </svg>
                            <h4>
                                <a href="#">
                                    Certified Teachers
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="full">
                            <img class="card-img-top" src="assets/photos/5.jpg" alt="Card image cap">
                        </div>
                        <div class="full-con">
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="map-marker-check"
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                class="svg-inline--fa fa-map-marker-check fa-w-12 fa-2x">
                                <path fill="currentColor"
                                    d="M192 0C86.4 0 0 86.4 0 192c0 76.8 25.6 99.2 172.8 310.4 4.8 6.4 12 9.6 19.2 9.6s14.4-3.2 19.2-9.6C358.4 291.2 384 268.8 384 192 384 86.4 297.6 0 192 0zm0 446.09c-14.41-20.56-27.51-39.12-39.41-55.99C58.35 256.48 48 240.2 48 192c0-79.4 64.6-144 144-144s144 64.6 144 144c0 48.2-10.35 64.48-104.59 198.09-11.9 16.87-25 35.44-39.41 56zm99.93-292.32l-23.21-23.4c-3.85-3.88-10.11-3.9-13.98-.06l-87.36 86.66-37.88-38.19c-3.84-3.88-10.11-3.9-13.98-.06l-23.4 23.21c-3.88 3.85-3.9 10.11-.06 13.98l68.05 68.6c3.85 3.88 10.11 3.9 13.98.06l117.78-116.83c3.88-3.84 3.91-10.1.06-13.97z"
                                    class=""></path>
                            </svg>
                            <h4>
                                <a href="#">
                                    Certification
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-part">
                    <span class="sub-text">About Us</span>
                    <h2 class="uppercase title pb-20 md-pb-10">Welcome To Eshkool</h2>
                    <p class="pb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eius to <br> mod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enims ad minim <br> veniam. Aenean massa. Cum
                        sociis
                        natoque penatibus et magnis dis partu <br> rient to montes.Aene an massa. Cum sociis natoque
                        penatibus. Ut enims <br> ad minim veniam.</p>

                    <p class="mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eius to <br> mod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enims ad <br> minim veniam.</p>
                    <div class="btn-part">
                        <a class="readon2" mat-button> Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>