<div class="search">
    <h5>SEARCH COURSES</h5>
    <input type="text" class="form-control" placeholder="Search here ...">
</div>
<div class="cat">
    <h1>COURSES CATEGORIES</h1>
    <div class="catcontent">
        <span class="s1">></span>
        <h5>Analysis & Features</h5>
        <span class="s2">(05)</span>
    </div>
    <div class="catcontent">
        <span class="s1">></span>
        <h5>Video Reviews</h5>
        <span class="s2">(07)</span>
    </div>
    <div class="catcontent">
        <span class="s1">></span>
        <h5>Engineering Tech</h5>
        <span class="s2">(09)</span>
    </div>
    <div class="catcontent">
        <span class="s1">></span>
        <h5>Righteous Indignation</h5>
        <span class="s2">(08)</span>
    </div>
    <div class="catcontent">
        <span class="s1">></span>
        <h5>General Education</h5>
        <span class="s2">(04)</span>
    </div>
</div>
<div class="latest">
    <h2>LATEST COURSES</h2>
    <div class="care">
        <img src="assets/cour/cr12.jpg" alt="">
        <div class="latest-content">
            <h5>Raken develops reporting The software</h5>
            <div class="small-content">
                <div class="po">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>4 years</span>
                </div>
                <div class="po2">
                    <h4>Price: </h4>
                    <span>$350</span>
                </div>
            </div>
        </div>
    </div>
    <div class="care">
        <img src="assets/cour/cr13.jpg" alt="">
        <div class="latest-content">
            <h5>Raken develops reporting The software</h5>
            <div class="small-content">
                <div class="po">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>4 years</span>
                </div>
                <div class="po2">
                    <h4>Price: </h4>
                    <span>$350</span>
                </div>
            </div>
        </div>
    </div>
    <div class="care2">
        <img src="assets/cour/cr14.jpg" alt="">
        <div class="latest-content">
            <h5>Raken develops reporting The software</h5>
            <div class="small-content">
                <div class="po">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>4 years</span>
                </div>
                <div class="po2">
                    <h4>Price: </h4>
                    <span>$350</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tags">
    <h5>COURSES TAGS</h5>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>SCIENCE</mat-chip>
        <mat-chip>HUMANITIES</mat-chip>
        <mat-chip>DIPLOMA</mat-chip>
        <mat-chip>BUSINESS</mat-chip>
        <mat-chip>RESEARCH</mat-chip>
        <mat-chip>ARTS</mat-chip>
        <mat-chip>ADMISSIONS</mat-chip>
      </mat-chip-list>
</div>