<div class="container-fluid text-center">
    <div class="container">
        <h4 class="title">About Us</h4>
        <div class="linkk">
            <ul>
                <li class="nav-item">
                    <a class="nav-link kkk" routerLink="" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home </a>
                </li>
                <li class="slash"> // </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">ABOUT US</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ------------ -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/about/a2.jpg">
            </div>
            <div class="col-md-6">
                <div class="header">
                    <h2>OUR HISTORY</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe derit in voluptate velit esse
                    cillum.
                    </p>
                    <p>
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot fore see
                    the pain and trouble that are bound to belongs to who fail in their duty.</p>
            </div>
        </div>
    </div>
</div>