<div class="container-fluid text-center">
    <div class="container">
        <h4 class="title">COMPUTER SCIENCE AND ENGINEERING</h4>
        <div class="linkk">
            <ul>
                <li class="nav-item">
                    <a class="nav-link kkk" routerLink="" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home </a>
                </li>
                <li class="slash"> // </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/courses/coursedetail" routerLinkActive="active">Computer Science
                        And Engineering</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ------------ -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="full-img text-center">
                    <img src="assets/cour/c710.jpg" alt="">
                    <span class="span-img">170 <br> seats</span>
                </div>
                <div class="affimg">
                    <div class="row">
                        <div class="col-md-6 yo">
                            <div class="befspan">
                                <h5>COURSE</h5>
                                <span>INSTRUCTOR</span>
                            </div>
                            <div class="imgwithspans">
                                <img src="assets/cour/cr11.jpg" alt="">
                                <div class="spans">
                                    <h5>Garade Pickey Moon</h5>
                                    <span>English Professor</span>
                                    <div class="inside">
                                        <div class="all">
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="p">There are many variations of passages of Lorem Ipsum available</p>
                        </div>
                        <div class="col-md-6">
                            <div class="befspan">
                                <h5>BASIC </h5>
                                <span>INFORMATION</span>
                            </div>
                            <div class="ccol">
                                <div class="col1">
                                    <div class="col1content">
                                        <span>Price :</span>
                                        <h5>$6589</h5>
                                    </div>
                                    <div class="col1content">
                                        <span>Lessons :</span>
                                        <h5>12</h5>
                                    </div>
                                    <div class="col1content">
                                        <span>Length :</span>
                                        <h5>4 Year</h5>
                                    </div>
                                    <div class="col1content">
                                        <span>Level :</span>
                                        <h5>Basic</h5>
                                    </div>
                                    <div class="col1content">
                                        <span>Category :</span>
                                        <h5>Business</h5>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="col1content">
                                        <span>Started :</span>
                                        <h5>03-11-2017</h5>
                                    </div>
                                    <div class="col1content">
                                        <span>Shift :</span>
                                        <h5>02</h5>
                                    </div>
                                    <div class="col1content">
                                        <span>Class :</span>
                                        <h5>120</h5>
                                    </div>
                                    <button mat-button>APPLY NOW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inside">
                    <h1>Course Description</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        altera tion in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        altera tion in some form, by injected humour</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        altera tion in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsumor randomised words which don't look
                        even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                </div>
                <div class="inside2">
                    <mat-expansion-panel [expanded] hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Lessons 1: Computer Science And Engineering
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form,</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Lessons 2: Business Management
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Lessons 3: Civil Engineering
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.</p>
                    </mat-expansion-panel>
                </div>
            </div>
            <!-- ----------------- -->
            <div class="col-md-4">
                <app-another></app-another>
            </div>
        </div>
    </div>
</div>
<!-- ------------- -->
<div class="container-fluid-2">
    <div class="container">
        <app-owl1></app-owl1>
    </div>
</div>
<!-- *------------ -->
<div class="container-fluid-3">
    <div class="container">
        <app-owl2></app-owl2>
    </div>
</div>
<!-- -------- -->
<div class="container-fluid-4">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let item of items">
                <div class="call">
                    <img [src]="item.img">
                </div> 
            </ng-template>
        </owl-carousel-o>
    </div>
</div>