/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .owl-theme .owl-nav [class*=owl-] {
    font-size: 20px;
    border: 1px solid #fff;
    padding: 10px 17px;
    border-radius: 100%;
    background-color: #fff;
    color: black;
}
.owl-theme{
    position: relative;
}
.owl-next{
    position: absolute;
    top: 220px;
    right: 0;
}
.owl-prev{
    position: absolute;
    left: 0;
    top: 220px;
}
.container-fluid{
    background-repeat:no-repeat;
background-position: center center;
}
.owl-item{
    display: block !important;
    width: 100% !important;
}
.app-carousel{
    display: block !important;
    width: 100% !important;
} */
.owl-theme{
    position: relative;
}
.owl-next{
    position: absolute;
    top: 105px;
    right: -64px;
}
.owl-prev{
    position: absolute;
    left: -64px;
    top: 105px;
}
.owl-theme .owl-nav [class*=owl-] {
    font-size: 14px;
    border: 1px solid #fff;
    padding: 10px 17px;
    border-radius: 100%;
    background-color: black;
    color: #fff;
    transition: 0.8s;
}
.owl-theme .owl-nav [class*=owl-]:hover {
   background-color: red;
   color: #fff;
}
.ui-rating a .ui-rating-icon {
    color: red;
}
.ui-rating:not(.ui-state-disabled):not(.ui-rating-readonly) a:focus {
    box-shadow: none !important;
}
.countdown .measurements{
    border: 1px solid #fff;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 15px;
    margin-top: 20px;
}
.countdown{
    align-items: flex-start !important;
     justify-content: flex-start !important;
}.countdown .measurements{
    display: inline-block;
    padding: 15px 25px;
    border-color: red;
    color: #fff;
}
/* -------- */
@media (min-width: 320px) and (max-width: 575px){ 
    .owl-next{
        position: unset;
        
    }
    .owl-prev{
        position: unset;
        
    }
    .countdown .measurements{
        display: inline-block;
        padding: 7px 13px;
        margin-right: 2px;
    }
    .countdown{
        margin-bottom: 24px;
    }
}
@media (min-width: 576px) and (max-width: 767px) { 
    .owl-next{
        position: unset;
        
    }
    .owl-prev{
        position: unset;
        
    }
    .countdown{
        margin-bottom: 24px;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .owl-next{
        position: unset;
        
    }
    .owl-prev{
        position: unset;
        
    }
    .countdown{
        margin-bottom: 24px;
    }
    .countdown .measurements{
        display: inline-block;
        padding: 7px 13px;
        margin-right: 7px;
    }
} 
@media (min-width: 992px) and (max-width: 1199px){ 
    .owl-next{
        position: unset;
        
    }
    .owl-prev{
        position: unset;
        
    }
    .countdown{
        margin-bottom: 24px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px){ 
    .owl-next{
        position: absolute;
        top: 105px;
        right: -49px;   
    }
    .owl-prev{
        position: absolute;
        left: -49px;
        top: 105px;        
    }
    .countdown{
        margin-bottom: 24px;
    }
}
  .cv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
  }
  
  .box {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #e74c3c;
  }
  
  .box:nth-child(1) {
    animation: a1 2s infinite linear;
  }
  
  .box:nth-child(2) {
    animation: a2 2s infinite linear;
  }
  
  @keyframes a1 {
    0% {
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
    }
    12.5% {
      top: 0;
      left: 0;
      width: 60px;
      height: 30px;
    }
    25% {
      top: 0;
      left: 0;
      width: 60px;
      height: 30px;
    }
    37.5% {
      top: 0;
      left: 30px;
      width: 30px;
      height: 30px;
    }
    50% {
      top: 0;
      left: 30px;
      width: 30px;
      height: 30px;
    }
    62.5% {
      top: 0;
      left: 30px;
      width: 30px;
      height: 60px;
    }
    75% {
      top: 0;
      left: 30px;
      width: 30px;
      height: 60px;
    }
    87.5% {
      top: 30px;
      left: 30px;
      width: 30px;
      height: 30px;
    }
    100% {
      top: 30px;
      left: 30px;
      width: 30px;
      height: 30px;
    }
  }
  
  @keyframes a2 {
    0% {
      right: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
    }
    12.5% {
      right: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
    }
    25% {
      right: 0;
      bottom: 0;
      width: 60px;
      height: 30px;
    }
    37.5% {
      right: 0;
      bottom: 0;
      width: 60px;
      height: 30px;
    }
    50% {
      right: 30px;
      bottom: 0;
      width: 30px;
      height: 30px;
    }
    62.5% {
      right: 30px;
      bottom: 0;
      width: 30px;
      height: 30px;
    }
    75% {
      right: 30px;
      bottom: 0;
      width: 30px;
      height: 60px;
    }
    87.5% {
      right: 30px;
      bottom: 0;
      width: 30px;
      height: 60px;
    }
    100% {
      right: 30px;
      bottom: 30px;
      width: 30px;
      height: 30px;
    }
  }
  